<%= @messages.each do |message| %>
  <li class="<%= self_or_other(message) %>">
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at %>">
      <%= message_interlocutor(message).name %>
      </time>
  </div>
  </li> 
<% end %>
